@use 'variables' as *;

@mixin header-padding {
  padding: 18px 0px;
}

body {
  color: var(--text);
  background-color: var(--bg);
  transition: $transition-dark;
}

h1 {
  font-size: $font-size-5xl;
  padding-bottom: 18px;
}

h2 {
  font-size: $font-size-3xl;
  @include header-padding;
}

h3 {
  font-size: $font-size-xl;
  @include header-padding;
}

h4 {
  font-size: $font-size-lg;
  @include header-padding;
}

h5 {
  font-size: $font-size-base;
  @include header-padding;
}

h6 {
  font-size: $font-size-sm;
  @include header-padding;
}

p {
  padding-bottom: 8px;
}

pre {
  padding-bottom: 14px;
  border-radius: 10px;
}

.mdx-a {
  color: $anchor-color;
}

.container {
  padding-top: 42px;
  display: flex;
  justify-content: center;

  & .inner {
    width: $main-width;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  width: 100vw;
  height: $header-height;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $gray;
  background-color: var(--bg);
  transition: $transition-dark;

  & .title {
    font-size: $font-size-2xl;
    font-weight: $font-bold;
    color: var(--text);
  }

  & .right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

img {
  width: 100%;
  object-fit: cover;
}

.post_item {
  padding-bottom: 44px;

  & .title {
    font-size: $font-size-3xl;
    font-weight: $font-bold;
    padding-bottom: 20px;
  }
}

.table_content {
  position: fixed;
  top: 0;
  transform: translate(calc($main-width + 120px), 120px);
  border-left: 1px solid $gray;
  padding-left: 10px;

  & li {
    cursor: pointer;
    padding: 4px 0px;

    &:hover {
      color: $anchor-color;
    }
  }

  .selected {
    color: $anchor-color;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 44px 0px 32px 0px;

  & .item {
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-xl;
    font-weight: $font-medium;
    color: $anchor-color;
  }
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
}

th,
td {
  border: 1px solid $gray;
  padding: 8px;
}

th {
  text-align: left;
}

.sub_title .permalink {
  margin-left: 2px;
  color: $anchor-color;
  opacity: 0;
  cursor: pointer;
}

.sub_title:hover .permalink {
  opacity: 1;
}

.github-container {
  width: 24px;
  height: 24px;
}

.dark-container {
  width: 60px;
  height: 30px;
  border-radius: 999px;
  padding: 4px;
  background-color: var(--text);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    border-radius: inherit;
    padding: 2px;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;

    & img {
      width: 96%;
      height: 96%;
      object-fit: cover;
    }
  }

  .active {
    transform: translateX(26px);
  }
}