$font-size-xs: 0.75rem;

$font-size-sm: 0.875rem;

$font-size-base: 1rem;

$font-size-lg: 1.125rem;

$font-size-xl: 1.25rem;

$font-size-2xl: 1.5rem;

$font-size-3xl: 1.875rem;

$font-size-4xl: 2.25rem;

$font-size-5xl: 3rem;

$font-size-6xl: 3.75rem;

$font-size-7xl: 4.5rem;

$font-size-8xl: 6rem;

$font-thin: 100;

$font-extralight: 200;

$font-light: 300;

$font-normal: 400;

$font-medium: 500;

$font-semibold: 600;

$font-bold: 700;

$font-extrabold: 800;

$font-black: 900;

$black: #020715;

$gray: #838a9c;

$anchor-color: #0998c4;

$main-width: 784px;