$font-size-1: 1rem;
$font-size-2: 2rem;
$font-size-3: 3rem;
$font-size-4: 4rem;
$font-size-5: 5rem;
$font-size-6: 6rem;
$font-size-7: 7rem;
$font-size-8: 8rem;
$font-size-9: 9rem;
$font-size-10: 10rem;
