@use 'variables' as *;
@use 'base' as *;

.diff-add {
  background-color: rgba(46, 160, 67, 0.4) !important;

  span {
    color: #afffaf !important;
  }
}

.diff-remove {
  background-color: rgba(248, 81, 73, 0.4) !important;

  span {
    color: #ffafaf !important;
  }
}
